{% set uniqueId = uniqueNumberForId('strengthStats') %}
{% autoescape false %}
    <h3 class="mb-4 text-lg font-semibold">{{ "Strength stats"|trans }}</h3>
    <div class="grid grid-cols-3 gap-4 mb-4">
        {% for exerciseName, pr in allTimePRs|slice(0, 3) %}
            <div class="bg-gray-50 rounded p-3 text-center">
                <div class="text-xs text-gray-500 uppercase mb-1">{{ exerciseName }}</div>
                <div class="text-lg font-bold text-gray-900">{{ pr|formatNumber(0) }}<span class="text-xs font-normal"> lbs</span></div>
                <div class="text-xs text-gray-400">{{ "Est. 1RM"|trans }}</div>
            </div>
        {% endfor %}
    </div>
    {% if liftsChart or totalChart %}
        <div class="tabs tabs--default">
            <ul id="strengthStatsTabs{{ uniqueId }}" data-tabs="#strengthStatsTabContent{{ uniqueId }}"
                role="tablist">
                {% if liftsChart %}
                    <li role="presentation">
                        <a href="#" data-tabs-target="#strengthLifts{{ uniqueId }}" role="tab"
                           aria-controls="strengthLifts{{ uniqueId }}">{{ "Lifts"|trans }}</a>
                    </li>
                {% endif %}
                {% if totalChart %}
                    <li role="presentation">
                        <a href="#" data-tabs-target="#strengthTotal{{ uniqueId }}" role="tab"
                           aria-controls="strengthTotal{{ uniqueId }}">{{ "Total"|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div id="strengthStatsTabContent{{ uniqueId }}">
            {% if liftsChart %}
                <div id="strengthLifts{{ uniqueId }}" role="tabpanel"
                     aria-labelledby="strengthLifts{{ uniqueId }}-tab">
                    <div class="h-80" data-echarts-options='{{ liftsChart }}'></div>
                </div>
            {% endif %}
            {% if totalChart %}
                <div id="strengthTotal{{ uniqueId }}" role="tabpanel"
                     aria-labelledby="strengthTotal{{ uniqueId }}-tab">
                    <div class="h-80" data-echarts-options='{{ totalChart }}'></div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endautoescape %}
